ExactTarget.TriggeredEmail/Service References/ExactTargetApi/ETFrameworkFault.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="urn:fault.partner.exacttarget.com" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:fault.partner.exacttarget.com" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="apifault" type="tns:APIFault" />
  <xsd:complexType name="APIFault">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Code" type="xsd:int" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Message" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="LogID" type="xsd:long" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Params">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Param" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>